//=========== Color ===========
$white: #fff;
$black: #000;
$grey: #7c7c7c;

$title-clr: #222529;
$subhead-clr: #777777;
$desc-clr: #7b858a;

$light-gray: #ccccccda;

//======================

$transition-dflt: all 0.2s;
